{% extends "base.html" %}
{% load static %}
{% block title %}About{% endblock %}
{% block css %}
{% endblock css %}
{% block body %}
<section id="about">
 <div class="container">
 <h2>ABOUT US</h2>
 <a href="Index.html">Back To Home</a>
 </div>
</section>
<div class="container my-5">
 <div class="row">
 <div class="col-md-6">
 <div class="about__two">
 <h2>Who We Are?</h2>
 <p>Since its inception, Anytime Removal has thrived forward to grow up
to be one of the most famous and popular moving companies in West Midlands. The v
ery objective of our business endeavour is to come up with a trustworthy and uniqu
e moving service in the West Midlands, which you can only dream of. We have handpi
cked the best drivers for our moving vehicles and the best removalist specialists
for making your moving experience absolutely smooth and stress-free.</p>
 <h2>The Industry we belong to</h2>
 <p>The removalist service industry is viewed as one of the most challe
nging and competitive, with plenty of companies jostling with each other, to earn
a reputation and get a sizeable market share. Against this backdrop, our removalis
t service in Solihull, near Birmingham in West Midlands come up with a flawless pe
rformance in multiple facets of removal service, with each being taken care of, by
dedicated specialists. In fact, that we are up to the mark in our effort to serve
you is evident from the numerous positive reviews and accolades that we have rece
ived over years.</p>
 </div>
 </div>
 <div class="col-md-6">
 <img src="{% static 'img/seventeen.jpg' %}" class="img-fluid" alt="">
 </div>
 </div>
</div>
<div class="container">
 <div class="about_three mb-5">
 <h2>Customers Whom We Assist</h2>
 <p>Our customers involve students, households, as well as industries of va
rious scales and niche and that makes us so much popular. Our moving service in Bi
rmingham like in other places in West Midlands offers a guarantee of 100% job comp
letion, which means we will never wash our hands off midway through the move. We w
ill provide customised service to make sure your move is as seamless as it can be.
</p>
 </div>
</div>
<div class="container mb-5">
 <div class="row">
 <div class="col-md-6">
 <img src="{% static 'img/eighteen.jpg' %}" class="img-fluid" alt="">
 </div>
 <div class="col-md-6">
 <div class="about-four">
 <h2 class="mt-4">Why we?</h2>
 <ul>
 <li>We pride ourselves on the quality of service that we provi
de with the help of highquality removal vehicles that are kept at the pick of the condition at any given p
oint in time.</li>
 <li>We are available all 7 days a week.</li>
 <li>We use state of the art vehicles of various sizes, kept in
impeccable conditions available whenever they are needed.</li>
 <li>We also practice using the state of the art techniques and
the very latest protective materials for covering and securing your assets during
the transit</li>
 <li>We cover various facets of removalist service, including d
omestic removal, office moves, as well as man &amp; van services in Mumbai, Delhi
and other places of India.</li>
 </ul>
 <p> For further details and an obligation free quote <a href="#">E
NQUIRE US</a></p></div>
 </div>
 </div>
</div>
{% endblock body %}
