<!DOCTYPE html>
<html lang="en">
<head>
 <meta charset="UTF-8">
 <meta name="viewport" content="width=device-width, initial-scale=1.0">
 <title>{% block title %}Packers and movers{% endblock %}</title>
 {% load static %}
 <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.
2/css/bootstrap.min.css">
 <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fontawesome/4.7.0/css/font-awesome.min.css">
 <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel=
"stylesheet">
 <!-- slick -->
 <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slickcarousel/1.9.0/slick-theme.min.css">
 <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slickcarousel/1.9.0/slick.min.css">
 <link rel="stylesheet" href="{% static 'css/default.css' %}">
 <link rel="stylesheet" href="{% static 'css/index.css' %}">
 <link rel="stylesheet" type="text/css" href="{% static 'css/login_style.css' %
}" />
</head>
<body>
 <div class="login-page">
 
 <center><h2>ADMIN-LOGIN</h2></center>
 <br>
 <div class="form"> 
 
 <form method="post" action="/handlelogin/">
 {% csrf_token %}
 <input name="username" type="text" placeholder="&#xf007; Username"/>
 <input name="userpassword"type="password" id="password" placeholder="&#xf0
23; Password"/>
 <i class="fas fa-eye" onclick="show()"></i>
 <br>
 <br>
 <p class="message"></p>
 <input type="submit" value="Login">
 <p>{{error}}</p>
 </form>
 <form class="login-form">
 <button type="button" onclick="window.location.href='/signupurl'">SIGN UP<
/button>
 </form>
 <button type="button" onclick="window.location.href='/'"> <svg xmlns="http:/
    /www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi biarrow-left-circle" viewBox="0 0 16 16">
     <path fillrule="evenodd" d="M1 8a7 7 0 1 0 14 0A7 7 0 0 0 1 8zm15 0A8 8 0 1 1 0 8a8 8 0 0 1
    16 0zm-4.5-.5a.5.5 0 0 1 0 1H5.707l2.147 2.146a.5.5 0 0 1-.708.708l-3-
    3a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L5.707 7.5H11.5z"/>
     </svg> Go BACK</button>
     </div>
     </div>
     
     <script>
     function show(){
     var password = document.getElementById("password");
     var icon = document.querySelector(".fas")
     
     // ========== Checking type of password ===========
     if(password.type === "password"){
     password.type = "text";
     }
     else {
     password.type = "password";
     }
     };
     </script>
    <!-- scroll on top -->
    <a href="#" id="scroll" style="display: none;"><span></span></a>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.j
    s"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
    <script src="{% static 'js/sticky.js'%}"></script>
    <script src="{% static 'js/index.js'%}"></script>
    <!-- slick -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/slickcarousel/1.9.0/slick.min.js"></script>
     
    </body>
    </html>
    