{% extends "base.html" %}
{% load static %}
{% block title %}About{% endblock %}
{% block body %}
<section id="office-removals">
 <div class="container text-center">
 <h2 class="text-white">OFFICE REMOVALS</h2>
 </div>
</section>
<div class="container my-5">
 <div class="row">
 <div class="col-md-6">
 <div class="office_removals_left">
<h2>Office Removals Mumbai</h2>
<p>We at Anytime Removal come up with office removals in India that are not only p
rofessional but good enough to secure help with trustworthy transportation of your
assets. This seamless moving service in Mumbai with the help of smooth transporta
tion of your goods, coupled with rational pricing makes us one of the most trustwo
rthy removalist companies in India.</p>
<p>Thanks to our highly experienced and welltrained removal experts, we make the daunting task of office removal as simple as
a cakewalk. They make sure that the entire process is as seamless and as stressfree as it can be, so much so that our clients can continue with their official ch
ores as unhindered as possible, despite the move!</p>
 </div>
 </div>
 <div class="col-md-6">
<div class="office_removals_right">
 <img src="{%static 'img/nineteen.jpg' %}" class="img-fluid" alt="">
 </div>
 </div>
 </div>
</div>
<div class="container">
 <div class="about_three mb-5">
 <h2>Customers Whom We Assist</h2>
 <p>Our customers involve students, households, as well as industries of vari
ous scales and niche and that makes us so much popular. Our moving service in Mumb
ai like in other places in India offers a guarantee of 100% job completion, which
means we will never wash our hands off midway through the move. We will provide cu
stomised service to make sure your move is as seamless as it can be.</p>
 </div>
</div>
<div class="container mb-5">
 <div class="row">
 <div class="col-md-6">
 <div class="office_removals_one_left">
 <img src="{%static 'img/twenty.jpg' %}" class="img-fluid" alt="">
 </div>
 </div>
 <div class="col-md-6">
 <div class="office_removals_one_right">
 <h2 class="mt-3">Our Vision</h2>
 <p>Since our very inception, the vision of our endeavour has been to make
sure that your investment in us is worthy of it. The manner in which we perceive i
t, makes sure that any decision that you make in regards to the relocation of your
office at a different address, does not affect the functionality and the profitab
ility of your business adversely. When you work with us, you can be assured of wor
king with an extremely trustworthy moving company in Solihull in the West Midlands
. Indeed, we will help you go through a seamless office removal process, which wil
l save your time as well as money.</p>
 </div>
 </div>
 </div>
</div>
{% endblock body %}
