{% extends "base.html" %}
{% load static %}
{% block title %}About{% endblock %}
{% block body %}
<section id="office-removals">
 <div class="container text-center">
 <h2 class="text-white">HOUSE REMOVALS</h2>
 </div>
</section>
<div class="container my-5">
 <div class="row">
 <div class="col-md-6">
 <div class="office_removals_left">
<h2>Customised House Removals</h2>
<p>Are you planning to relocate and that is leaving you with sleepless nights? Sim
ply put your stakes on Anytime Removal. With years of experience, we are one of th
e most trusted names when it comes to home removals in and around Mumbai, India.</
p>
<p>Indeed, we are here to help you out with perfect removalist service, so much so
that you have an absolutely seamless move as you relocate from one address to ano
ther. Regardless of the distance within West Midlands, and no matter how big or sm
all the move is, our cordial, experienced and highly professional removalist exper
ts will go all the way to assist you out, meeting your removal needs and compulsio
ns.</p>
<p>We come up with door-todoor house removal in Birmingham, Solihull and other places in West Midlands ensur
ing that all your assets and household items are transited seamlessly, undamaged,
unaffected. We are fully covered by insurance by ‘goods in transit insurance’ pack
age, and this gives you complete peace of mind and frees you from the concern of f
inancial loss in the event of any mishap during the move.</p>
 </div>
 </div>
 <div class="col-md-6">
<div class="office_removals_right">
 <img src="{% static 'img/twentyone.jpg' %}" class="img-fluid" alt="">
 </div>
 </div>
 </div>
</div>
<div class="container text-center">
    <div class="about_three mb-5">
    <h2>Packing Materials and Removal Service</h2>
    <p>Our dedicated removalists in Anytime Removals come up with some flawless
        packing and wrapping of all your belongings before the move, as per the type of go
        ods to be moved. This ensures that no damage is inflicted on your assets, no matte
        r how long is the distance and how fragile is the asset in question.</p>
         <p>We would use fitting packing boxes and various types of bubble wraps to g
        ive an extra protection to your fragile items.</p>
         </div>
        </div>
        <div class="container mb-5">
         <div class="row">
         <div class="col-md-6">
         <div class="office_removals_one_left">
         <img src="{% static 'img/twentytwo.jpg' %}" class="img-fluid" alt="">
         </div>
         </div>
         <div class="col-md-6">
         <div class="office_removals_one_right">
         <h2 class="text-justify">Our Equipment</h2>
         <p>All the vans that we use for the removal services in Mumbai are at the
        pick of the condition at any given point in time and have multiple blankets and hi
        ghquality dust covers. They ensure that your assets are perfectly protected during t
        he transit against any type of damage. These vehicles also come up with fully equi
        pped toolbox, quality straps, a sack barrow to tightly secure your assets during t
        he move!</p>
         <p>We do not leave you midway through the move and ensure that all your be
        longings are unpacked carefully, duly fitted and set up at your new address at no
        extra charge.</p>
         <h2 class="text-justify">The Cost</h2>
         <p>We are costeffective and we do not have any hidden charge and that makes us one of the most t
        rusted names when it comes to house removal in India.</p>
         </div>
         </div>
         </div>
        </div>
        {% endblock body %}
           