<!DOCTYPE html>
<html lang="en">
 <html>
 <head>
 <title>Sign Up</title>
 {% load static %}
 <meta name="viewport" content="width=device-width, initial-scale=1.0" />
 <meta charset="utf-8" />
 <link rel="stylesheet" type="text/css" href="signup_style.css" />
 <link rel="stylesheet" href="{% static 'css/signup_style.css' %}">
 <link
 rel="stylesheet"
 href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/fontawesome.min.css"
 />
 <link
 href="https://fonts.googleapis.com/css?family=Titillium+Web:400,300,600"
 rel="stylesheet"
 type="text/css"
 />
 <script src="https://unpkg.com/@lottiefiles/lottieplayer@latest/dist/lottie-player.js"></script>
 <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.1/cs
s/all.css" integrity="sha384-
vp86vTRFVJgpjF9jiIGPEEqYqlDwgyBgEF109VFjmqGmIY/Y4HV4d3Gp2irVfcrp" crossorigin="ano
nymous">
 </head>
 <body class="body">
 <div class="login-page">
 <center><h2>SIGN-IN</h2></center>
 <br>
 <div class="form">
 <form method="post" class="post-form" action="/signupForm/">
 {% csrf_token %}
 <input name="username" type="text" placeholder="Name" />
 <input name="usercontact" type="tel" placeholder="Contact no" />
 <input name="useremail" type="text" placeholder="Email Address" />
 <input name="userpassword" type="password" id="password" placeholder="
Set a Password" />
 <input name="cpassword" type="password" id="password" placeholder="Con
firm Password" />
 <i class="fas fa-eye" onclick="show()"></i>
 <br>
 <br>
 <input type="submit" value="Sign Up" class="btn btn-primar>
 
 <li class="active"><a href=""></a></li>
</form>
<button type="button" onclick="window.location.href='/'"><svg xmlns="http:
//www.w3.org/2000/svg" width="20" height="13" fill="currentColor" class="bi biarrow-left-circle" viewBox="0 0 16 16">
<path fillrule="evenodd" d="M1 8a7 7 0 1 0 14 0A7 7 0 0 0 1 8zm15 0A8 8 0 1 1 0 8a8 8 0 0 1
16 0zm-4.5-.5a.5.5 0 0 1 0 1H5.707l2.147 2.146a.5.5 0 0 1-.708.708l-3-
3a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L5.707 7.5H11.5z"/>
</svg> GO BACK</button>
</div>
</div>
</body>
<script>
function show() {
var password = document.getElementById("password");
var icon = document.querySelector(".fas");
// ========== Checking type of password ===========
if (password.type === "password") {
password.type = "text";
} else {
password.type = "password";
}
}
</script>
</html>
{% extends "base.html" %}
{% load static %}
{% block title %}About{% endblock %}
{% block body %}
 <center>
 <h1>Customers Details</h1>
 </center>
 <br>
 <form>
 <table class="table table-striped table-bordered table-sm">
 <thead class="thead-dark">
 <tr>
 <th>Date</th>
 <th>Customer Name</th>
 <th>Contact</th>
 <th>Email</th>
 <th>Source</th>
 <th>Destination</th>
 <th>Property Type</th>
 <th>Note</th>
 <th>Actions</th>
 </tr>
 </thead>
 <tbody>
 {% for customer in customers %}
 <tr>
 <td>{{ customer.date }}</td>
 <td>{{ customer.cust_name }}</td>
 <td>{{ customer.cust_contact }}</td>
 <td>{{ customer.cust_email }}</td>
 <td>{{ customer.cust_source }}</td>
 <td>{{ customer.cust_destination }}</td>
 <td>{{ customer.type_of_property }}</td>
 <td>{{ customer.cust_note }}</td>
 <td>
 <a href="/destroy/{{customer.id}}">Delete</a>
 </td>
 </tr>
 {% endfor %}
 </tbody>
 </table>
 </form>
 <br>
 <br>
 <br>
 <br>
 <br>
 <br>
 
{% endblock body %}
